<h3>マイクリップ</h3>

<div>
	<div>
		<%= attachment_image_tag @user, :image, :fill, 300, 300 %>
		<%= link_to '設定', edit_user_path(@user) %>
	</div>
	<div>
		<%= @user.name %>
		投稿件数：<%= @user.posts.count %><%= 'ありがとう（数）' %> マイクリップ<%= @user.clips.count %>件
		<%= @user.introduction %>
	</div>
	<div>
		<% @clips.each do |clips| %>
			<span><%= link_to clips.post.user.name, user_path(clips.post.user_id) %></span>
			<%= link_to post_path(clips.post.id) do %>
			<div>
				<%= simple_time(clips.post.created_at) %>
				<%= clips.post.stance_id_i18n %>
				<%= clips.post.small_scene.name %>
			</div>
			<!-- 画像 -->
			<div>
				<!-- ありがとう -->
				<!-- クリップ -->
				<%= clips.post.clips.count %>クリップ
			</div>
			<div>
				<%= clips.post.maker_name %>
				<%= clips.post.item_name %>
				<%= clips.post.item_price %>
				<%= clips.post.prefecture_id %>
			</div>
			<% end %>
		<% end %>
	</div>
</div>