<div class="page-title">マイクリップ</div>
<div class="center-block">
	<div class="mypage-block">
		<div class="mypage-box1">
			<%= attachment_image_tag @user, :image, :fill, 300, 300, class: "user-image-large" %>
			<p class="setting-btn"><%= link_to '設定', edit_user_path(@user) %></p>
		</div>
		<div class="mypage-box2">
			<p class="mypage-user-name"><%= @user.name %></p>
			<table class="mypage-count">
				<tr>
					<td>投稿件数</td>
					<td>もらったありがとう</td>
					<td>クリップされた件数</td>
				</tr>
				<tr>
					<td><%= @user.posts.count %></td>
					<% total_thanks = 0 %>
					<% total_clips = 0 %>
					<% @user.posts.each do |userposts| %>
						<% total_thanks = total_thanks + userposts.thanks.count %>
						<% total_clips = total_clips + userposts.clips.count %>
					<% end %>
					<td><%= total_thanks %></td>
					<td><%= total_clips %></td>
				</tr>
			</table>
		</div>
		<div class="mypage-box3">
			<p><%= @user.introduction %></p>
		</div>
	</div>
	<div class="mypage-menuber">
		<%= link_to user_path(@user.id) do %>
			<div class="mypage-menu mypage-link">
				<p class="mypage-item">
					<i class="far fa-comments"></i>
					<span>投稿した口コミ</span>
				</p>
			</div>
		<% end %>
		<div class="mypage-menu mypage-chose">
			<p class="mypage-item">
				<i class="fas fa-paperclip"></i>マイクリップ
				<span class="myclip-count myclip-count-white">
					<%= @clips.count %>
				</span>
			</p>
		</div>
	</div>
	<div class="mypage-box4">
		<% @clips.each do |clip| %>
			<div class="post-index-block">
				<div class="post-index post-index-box1">
					<%= attachment_image_tag clip.post.user, :image, :fill, 300, 300, class: "user-image-small" %>
					<%= link_to clip.post.user.name, user_path(clip.post.user_id) %>
					<div>
						<p class="post-index-stance"><%= clip.post.stance_id_i18n %></p>
						<p class="post-index-time"><%= simple_time(clip.post.created_at) %></p>
					</div>
				</div>
				<%= link_to post_path(clip.post.id) do %>
					<div class="post-index post-index-box2">
						<div class="post-index-scene">
							<%= clip.post.small_scene.name %>
							<%= clip.post.age_id_i18n %>
						</div>
					</div>
					<div class="post-index-box3">
						<!-- 画像 -->
						<% clip.post.post_images.first(1).each do |pimage| %>
							<%= attachment_image_tag pimage, :image, :fill, 300, 300, fallback: 'no_image.jpg' %>
						<% end %>
						<!-- ありがとう --><!-- クリップ -->
						<p><span class="post-index-tnc"><%= clip.post.thanks.count %>ありがとう</span><span class="post-index-tnc"><%= clip.post.clips.count %>クリップ</span></p>
					</div>
					<div class="post-index post-index-box5">
						<p class="post-index-maker"><%= clip.post.maker_name %></p>
						<p class="post-index-prefecture"><%= clip.post.prefecture_id %></p>
						<p class="post-index-item"><%= clip.post.item_name %></p>
						<p class="post-index-price">
							<%= clip.post.item_price %>円
							<span class="price-tax">(税込)</span>
						</p>
					</div>
					<div class="post-index post-index-box6">
						<div class="post-index-rating">
							<% total_rating = 0 %>
							<% total_rating = total_rating + clip.post.rating_feeling + clip.post.rating_looks + clip.post.rating_price + clip.post.rating_matching %>
							<p>評価合計<br>
							<%= total_rating %>点</p>
						</div>
						<div class="post-index-review">
							<%= clip.post.review %>
						</div>
					</div>
				<% end %>
			</div>
		<% end %>
	</div>
</div>