<div class="page-title">マイクリップ</div>
<div class="center-block">
	<div class="mypage-block">
		<div class="mypage-box1">
			<%= attachment_image_tag @user, :image, :fill, 300, 300, class: "user-image-large" %>
			<p class="setting-btn"><%= link_to '設定', edit_user_path(@user) %></p>
		</div>
		<div class="mypage-box2">
			<p class="mypage-user-name"><%= @user.name %></p>
			<table class="mypage-count">
				<tr>
					<td>投稿件数</td>
					<td>もらったありがとう</td>
					<td>クリップされた件数</td>
				</tr>
				<tr>
					<td><%= @user.posts.count %></td>
					<% total_thanks = 0 %>
					<% total_clips = 0 %>
					<% @user.posts.each do |userposts| %>
						<% total_thanks = total_thanks + userposts.thanks.count %>
						<% total_clips = total_clips + userposts.clips.count %>
					<% end %>
					<td><%= total_thanks %></td>
					<td><%= total_clips %></td>
				</tr>
			</table>
		</div>
		<div class="mypage-box3">
			<p><%= @user.introduction %></p>
		</div>
	</div>
	<div class="mypage-menuber">
		<%= link_to user_path(@user.id) do %>
			<div class="mypage-menu mypage-link">
				<p class="mypage-item">
					<i class="far fa-comments"></i>
					<span>投稿した口コミ</span>
				</p>
			</div>
		<% end %>
		<div class="mypage-menu mypage-chose">
			<p class="mypage-item">
				<i class="fas fa-paperclip"></i>マイクリップ
				<span class="myclip-count myclip-count-white">
					<%= @clips.count %>
				</span>
			</p>
		</div>
	</div>
	<div class="mypage-box4">
		<% @clips.each do |clip| %>
			<div class="post-index-block">
				<div class="post-index post-index-box1">
					<%= attachment_image_tag clip.post.user, :image, :fill, 300, 300, class: "user-image-small" %>
					<%= link_to clip.user.name, user_path(clip.post.user_id) %>
					<div>
						<p class="post-index-stance">
							<i class="fas fa-gift index-gift"></i>
							<%= clip.post.stance_id_i18n %>
						</p>
						<p class="post-index-time"><%= simple_time(clip.post.created_at) %></p>
					</div>
				</div>
				<%= link_to post_path(clip.post.id) do %>
					<div class="post-index post-index-box2">
						<div class="post-index-scene">
							<%= clip.post.age_id_i18n %>
							<%= clip.post.gender_id_i18n %>へ<br>
							<%= clip.post.small_scene.name %>
						</div>
						<div class="post-index-category">
							<%= clip.post.small_category.name %>
						</div>
					</div>
				<% end %>
				<div class="post-index-rating">
					<% total_rating = 0 %>
					<% total_rating = (total_rating + clip.post.rating_feeling + clip.post.rating_looks + clip.post.rating_price + clip.post.rating_matching)/4 %>
					<span>
						<% total_rating.times do |i| %>
							<i class="fas fa-star"></i>
						<% end %>
						<% remainder_star = 5 - total_rating %>
						<% remainder_star.times do |i| %>
							<i class="fas fa-star remainder-star"></i>
						<% end %>
					</span>
					<%= link_to post_path(clip.post.id) do %>
						<span class="post-index-total-rating">
							<%= total_rating %>
						</span>
					<% end %>
				</div>
				<%= link_to post_path(clip.post.id) do %>
					<div class="post-index-box3">
						<!-- 画像 -->
						<% clip.post.post_images.first(1).each do |pimage| %>
							<%= attachment_image_tag pimage, :image, :fill, 300, 300, fallback: 'no_image.jpg', class: "post-index-image"  %>
						<% end %>
						<div>
							<!-- クリップ -->
							<% if user_signed_in? %>
								<% if clip.post.cliped_by?(current_user) %>
									<%= link_to post_clip_path(clip.post,clip.post.clips), method: :delete do %>
										<p class="post-index-icon cliped-icon">
							   				<%= clip.post.clips.count %>
				    						<i class="fas fa-paperclip"></i>
						   				</p>
						   			<% end %>
								<% else %>
									<%= link_to post_clips_path(clip.post), method: :post do %>
										<p class="post-index-icon clip-icon">
											<%= clip.post.clips.count %>
				    						<i class="fas fa-paperclip"></i>
										</p>
									<% end %>
								<% end %>
							<% else %>
								<!-- ゲストユーザー -->
								<%= link_to new_user_session_path do %>
									<p class="post-index-icon">
							   			<%= clip.post.clips.count %>
							   			<i class="fas fa-paperclip"></i>
								   	</p>
								<% end %>
							<% end %>
							<!-- ありがとう -->
							<% if user_signed_in? %>
								<% if clip.post.thanked_by?(current_user) %>
									<%= link_to post_thank_path(clip.post,clip.post.thanks), method: :delete do %>
										<p class="post-index-icon thanked-icon">
							   				<%= clip.post.thanks.count %>
				   							<i class="far fa-grin-squint"></i>
					   					</p>
					   				<% end %>
								<% else %>
									<%= link_to post_thanks_path(clip.post), method: :post do %>
										<p class="post-index-icon thank-icon">
							   				<%= clip.post.thanks.count %>
							   				<i class="far fa-grin-squint"></i>
								   		</p>
								   	<% end %>
								<% end %>
							<% else %>
								<!-- ゲストユーザー -->
								<%= link_to new_user_session_path do %>
									<p class="post-index-icon">
							   			<%= clip.post.thanks.count %>
							   			<i class="far fa-grin-squint"></i>
								   	</p>
								<% end %>
							<% end %>
						</div>
					</div>
					<div class="post-index post-index-box5">
						<p class="post-index-maker">
							<%= link_to post_path(clip.post.id) do %>
								<%= clip.post.maker_name %>
							<% end %>
						</p>
						<p class="post-index-prefecture">
							<%= link_to post_path(clip.post.id) do %>
								<%= clip.post.prefecture_id %>
							<% end %>
						</p>
						<p class="post-index-item">
							<%= link_to post_path(clip.post.id) do %>
								<%= clip.post.item_name %>
							<% end %>
						</p>
						<p class="post-index-price">
							<%= link_to post_path(clip.post.id) do %>
								<%= clip.post.item_price %>円
								<span class="price-tax">(税込)</span>
							<% end %>
						</p>
					</div>
					<div class="post-index post-index-box6">
						<div class="post-index-review">
							<%= strip_tags(clip.post.review).truncate(65) %>
							<% if clip.post.review.length > 65 %>
								<%= link_to 'もっと見る', post_path(clip.post.id), class: "post-show-small-font" %>
							<% end %>
						</div>
					</div>
				<% end %>
			</div>
		<% end %>
		<div class="paginate-block">
			<%= paginate @clips, class: "paginate" %>
		</div>
	</div>
</div>