<div class="page-title">ユーザーリスト</div>
<div class="center-block">
	<table class="user-index-table">
		<tr>
			<td class="user-table-title"></td>
			<td class="user-table-title">ユーザー<br>アイコン</td>
			<td class="user-table-title-name">ユーザー名</td>
			<td class="user-table-title">年齢</td>
			<td class="user-table-title">口コミ投稿件数</td>
			<td class="user-table-title">マイクリップ</td>
			<td class="user-table-title">もらった<br>ありがとう</td>
			<td class="user-table-title">クリップ<br>された件数</td>
			<!-- マイページリンク -->
			<td class="user-table-title"></td>
		</tr>
		<% @users.each do |user| %>
			<tr>
				<td class="user-table-item">
					<% if user.deleted_user != nil %>
						退会済み
					<% end %>
				</td>
				<td class="user-table-item">
					<% if user.image.present? %>
						<%= attachment_image_tag user, :image, :fill, 400, 400, class: "user-image-small" %>
					<% else %>
						<%= image_tag '/images/user_image.png', class: "user-image-small user-no-image" %>
					<% end %>
				</td>
				<td><%= user.name %></td>
				<td class="user-table-item"><%= (Date.today.strftime('%Y%m%d').to_i - user.birth.strftime('%Y%m%d').to_i) / 10000 %>歳</td>
				<td class="user-table-item"><%= user.posts.count %></td>
				<td class="user-table-item"><%= user.clips.count %></td>
				<% total_thanks = 0 %>
				<% total_clips = 0 %>
				<% user.posts.each do |posts| %>
					<% total_thanks = total_thanks + posts.thanks.count %>
					<% total_clips = total_clips + posts.clips.count %>
				<% end %>
				<td class="user-table-item"><%= total_thanks %></td>
				<td class="user-table-item"><%= total_clips %></td>
				<td class="user-table-item">
					<%= link_to user_path(user.id) do %>
						<p class="userpage-btn btn-layout orange-btn">マイページ</p>
					<% end %>
				</td>
			</tr>
		<% end %>
	</table>
	<div class="paginate-block">
		<%= paginate @users, class: "paginate" %>
	</div>
</div>