<h3>ユーザー一覧</h3>
<div>
	<table>
		<tr>
			<td></td>
			<td>ユーザーアイコン</td>
			<td>ユーザー名</td>
			<td>口コミ投稿件数</td>
			<td>ありがとう件数</td>
			<td>クリップされた件数</td>
			<td>マイクリップ件数</td>
		</tr>
		<% @user.each do |user| %>
			<tr>
				<td><%= user.deleted_user %></td>
				<td><%= attachment_image_tag user, :image, :fill, 400, 400 %></td>
				<td><%= user.name %></td>
				<td><%= user.post.count %></td>
				<td><%= 'ありがとう' %></td>
				<td><%= user.post.clip.count %></td>
				<td><%= user.clip %></td>
			</tr>
		<% end %>
	</table>
</div>