<div class="page-title">マイページ</div>
<div class="center-block">
	<div class="mypage-block">
		<div class="mypage-box1">
			<%= attachment_image_tag @user, :image, :fill, 300, 300, class: "user-image-large" %>
			<% if user_signed_in? %>
				<p class="mypage-setting"><%= link_to '設定', edit_user_path(@user), class: "setting-btn" %></p>
			<% end %>
		</div>
		<div class="mypage-box2">
			<p class="mypage-user-name"><%= @user.name %></p>
			<table class="mypage-count">
				<tr>
					<td>投稿件数</td>
					<td>もらったありがとう</td>
					<td>クリップされた件数</td>
				</tr>
				<tr>
					<td><%= @user.posts.count %></td>
					<% total_thanks = 0 %>
					<% total_clips = 0 %>
					<% @posts.each do |posts| %>
						<% total_thanks = total_thanks + posts.thanks.count %>
						<% total_clips = total_clips + posts.clips.count %>
					<% end %>
					<td><%= total_thanks %></td>
					<td><%= total_clips %></td>
				</tr>
			</table>
		</div>
		<div class="mypage-box3">
			<p><%= @user.introduction %></p>
		</div>
	</div>
	<div class="mypage-menuber">
		<div class="mypage-menu mypage-chose">投稿した口コミ</div>
		<% if user_signed_in? %>
			<div class="mypage-menu mypage-link">
				<%= link_to post_clips_path(@user.id) do %>
					<i class="fas fa-paperclip"></i>
					<span>マイクリップ</span>
					<span class="myclip-count myclip-count-white"><%= current_user.clips.count %></span>
				<% end %>
			</div>
		<% else %>
		<% end %>
	</div>
	<div class="mypage-box4">
		<% @posts.each do |post| %>
			<div class="post-index-block">
				<div class="post-index post-index-box1">
					<%= attachment_image_tag post.user, :image, :fill, 300, 300, class: "user-image-small" %>
					<%= link_to post.user.name, user_path(post.user_id) %>
					<div>
						<p class="post-index-stance">
							<i class="fas fa-gift index-gift"></i>
							<%= post.stance_id_i18n %>
						</p>
						<p class="post-index-time"><%= simple_time(post.created_at) %></p>
					</div>
				</div>
				<%= link_to post_path(post.id) do %>
					<div class="post-index post-index-box2">
						<div class="post-index-scene">
							<%= post.age_id_i18n %>
							<%= post.gender_id_i18n %>へ<br>
							<%= post.small_scene.name %>
						</div>
						<div class="post-index-category">
							<%= post.small_category.name %>
						</div>
					</div>
				<% end %>
				<div class="post-index-rating">
					<% total_rating = 0 %>
					<% total_rating = (total_rating + post.rating_feeling + post.rating_looks + post.rating_price + post.rating_matching)/4 %>
					<span>
						<% total_rating.times do |i| %>
							<i class="fas fa-star"></i>
						<% end %>
						<% remainder_star = 5 - total_rating %>
						<% remainder_star.times do |i| %>
							<i class="fas fa-star remainder-star"></i>
						<% end %>
					</span>
					<%= link_to post_path(post.id) do %>
						<span class="post-index-total-rating">
							<%= total_rating %>
						</span>
					<% end %>
				</div>
				<%= link_to post_path(post.id) do %>
					<div class="post-index-box3">
						<!-- 画像 -->
						<% post.post_images.first(1).each do |pimage| %>
							<%= attachment_image_tag pimage, :image, :fill, 300, 300, fallback: 'no_image.jpg', class: "post-index-image"  %>
						<% end %>
						<div>
							<!-- クリップ -->
							<% if user_signed_in? %>
								<% if post.cliped_by?(current_user) %>
									<p class="post-index-icon cliped-icon">
							   			<%= link_to post_clip_path(post,post.clips), method: :delete do %>
							   				<%= post.clips.count %>
				    						<i class="fas fa-paperclip"></i>
				    					<% end %>
					   				</p>
								<% else %>
									<p class="post-index-icon clip-icon">
							   			<%= link_to post_clips_path(post), method: :post do %>
											<%= post.clips.count %>
				    						<i class="fas fa-paperclip"></i>
				    					<% end %>
									</p>
								<% end %>
							<% else %>
								<!-- ゲストユーザー -->
								<p class="post-index-icon">
							   		<%= link_to new_user_session_path do %>
							   			<%= post.clips.count %>
							   			<i class="fas fa-paperclip"></i>
							   		<% end %>
							   	</p>
							<% end %>
							<!-- ありがとう -->
							<% if user_signed_in? %>
								<% if post.thanked_by?(current_user) %>
									<p class="post-index-icon thanked-icon">
							   			<%= link_to post_thank_path(post,post.thanks), method: :delete do %>
							   				<%= post.thanks.count %>
				   							<i class="far fa-grin-squint"></i>
				   						<% end %>
				   					</p>
								<% else %>
									<p class="post-index-icon thank-icon">
							   			<%= link_to post_thanks_path(post), method: :post do %>
							   				<%= post.thanks.count %>
							   				<i class="far fa-grin-squint"></i>
							   			<% end %>
							   		</p>
								<% end %>
							<% else %>
								<!-- ゲストユーザー -->
								<p class="post-index-icon">
							   		<%= link_to new_user_session_path do %>
							   			<%= post.thanks.count %>
							   			<i class="far fa-grin-squint"></i>
							   		<% end %>
							   	</p>
							<% end %>
						</div>
					</div>
					<div class="post-index post-index-box5">
						<p class="post-index-maker">
							<%= link_to post_path(post.id) do %>
								<%= post.maker_name %>
							<% end %>
						</p>
						<p class="post-index-prefecture">
							<%= link_to post_path(post.id) do %>
								<%= post.prefecture_id %>
							<% end %>
						</p>
						<p class="post-index-item">
							<%= link_to post_path(post.id) do %>
								<%= post.item_name %>
							<% end %>
						</p>
						<p class="post-index-price">
							<%= link_to post_path(post.id) do %>
								<%= post.item_price %>円
								<span class="price-tax">(税込)</span>
							<% end %>
						</p>
					</div>
					<div class="post-index post-index-box6">
						<div class="post-index-review">
							<%= strip_tags(post.review).truncate(65) %>
							<% if post.review.length > 65 %>
								<%= link_to 'もっと見る', post_path(post.id), class: "post-show-small-font" %>
							<% end %>
						</div>
					</div>
				<% end %>
			</div>
		<% end %>
	</div>
</div>
