<h3>マイページ</h3>
<div>
	<div>
		<%= attachment_image_tag @user, :image, :fill, 300, 300 %>
		<%= link_to '設定', edit_user_path(@user) %>
	</div>
	<div>
		<%= @user.name %>
		<%= '投稿件数' %><%= 'ありがとう（数）' %>
		<%= @user.introduction %>
	</div>
	<div>
		<p>投稿した口コミ</p>
		<div>
			<% @posts.each do |posts| %>
				<div>
					<p><%= posts.user.name %></p>
					<p><%= simple_time(posts.created_at) %></p>
				</div>
				<!-- 画像 -->
				<div>
					<!-- 商品情報 -->
					<%= posts.maker_name %>
					<%= posts.item_name %>
					<%= posts.small_category.name %>
					<%= posts.item_price %>
					<%= posts.prefecture_id %>
				</div>
				<div>
					<!-- ターゲット情報 -->
					<%= posts.age_id %>
					<%= posts.gender_id %>
					<%= posts.small_scene.name %>
				</div>
			<% end %>
		</div>
	</div>
</div>
