<div class="page-title">年齢層リスト</div>

<div class="center-block">
	<div class="age-list">
		<div class="age-new">
			<%= form_for(@age) do |f| %>
				<%= f.text_field :name, placeholder: '年齢層' %>
				<%= f.submit '追加', class: "new-btn btn-layout orange-btn" %>
			<% end %>
		</div>
		<% @ages.each_with_index do |age,i| %>
			<table>
				<tr>
					<td class="age-number"><%= "#{i+1}" %></td>
					<td class="age-name"><%= age.name %></td>
					<td>
						<%= link_to edit_age_path(age.id) do %>
							<p class="edit-btn btn-layout">編集</p>
						<% end %>
						<%= link_to age_path(age.id), method: :delete, "data-confirm" => "削除してもよろしいですか？" do %>
							<p class="delete-btn btn-layout">削除</p>
						<% end %>
					</td>
				</tr>
			</table>
		<% end %>
	</div>
</div>