<div class="page-title">投稿編集</div>
<div class="center-block">
  <%= form_for(@post) do |f| %>
  <div class="post-new-block1">
    <div class="post-new-box1">
      <div>
        <%= f.radio_button :stance_id, :presented %>贈り物をあげた
        <%= f.radio_button :stance_id, :got %>贈り物をもらった
      </div>
      <div>
      	<p>贈り物を受け取った人</p>
       	  <%= f.radio_button :gender_id, :male %>男性
         	<%= f.radio_button :gender_id, :female %>女性
          <%= f.select :age_id, Post.age_ids_i18n.keys.map {|k| [Post.age_ids_i18n[k], k]} %>
         	<p>ギフトシーン：<%= f.collection_select :small_scene_id, SmallScene.all, :id, :name %></p>
      </div>
    </div>
    <div class="post-new-box2">
      <div>
        		<p>商品カテゴリー：<%= f.collection_select :small_category_id, SmallCategory.all, :id, :name %></p>
        		<p>商品名<%= f.text_field :item_name %></p>
        		<p>価格帯：<%= f.text_field :item_price %>
        		<p>日持ち期間：<%= f.select :keeping_quality, Post.keeping_qualities_i18n.keys.map {|k| [Post.keeping_qualities_i18n[k], k]} %>
      </div>
      <div>
      		<p>メーカー・ブランド・お店の名前：<%= f.text_field :maker_name %></p>
      		<p>購入できる地域：<%= f.select :prefecture_id, Post.prefecture_ids.keys %></p>
      		<p>住所：<%= f.text_field :maker_address %></p>
      		<p>URL：<%= f.text_field :url_address %></p>
      </div>
    </div>
    <div class="post-new-block2">
      <div class="post-new-rating">
      	<p>評価</p>
        <p>味または使い心地：<%= f.radio_button :rating_feeling, 1 %>1 <%= f.radio_button :rating_feeling, 2 %>2 <%= f.radio_button :rating_feeling, 3 %>3 <%= f.radio_button :rating_feeling, 4 %>4 <%= f.radio_button :rating_feeling, 5 %>5 </p>
        <p>見た目：<%= f.radio_button :rating_looks, 1 %>1 <%= f.radio_button :rating_looks, 2 %>2 <%= f.radio_button :rating_looks, 3 %>3 <%= f.radio_button :rating_looks, 4 %>4 <%= f.radio_button :rating_looks, 5 %>5 </p>
        <p>価格：<%= f.radio_button :rating_price, 1 %>1 <%= f.radio_button :rating_price, 2 %>2 <%= f.radio_button :rating_price, 3 %>3 <%= f.radio_button :rating_price, 4 %>4 <%= f.radio_button :rating_price, 5 %>5 </p>
        <p>ギフトシーンとの相性：<%= f.radio_button :rating_matching, 1 %>1 <%= f.radio_button :rating_matching, 2 %>2 <%= f.radio_button :rating_matching, 3 %>3 <%= f.radio_button :rating_matching, 4 %>4 <%= f.radio_button :rating_matching, 5 %>5 </p>
      </div>
    </div>
    <div class="post-new-block3">
      <p>口コミ</p>
      <p><%= f.text_area :review %></p>
      <p><%= f.submit '投稿する' %></p>
  	</div>
  <% end %>
  <div>
    <p><%= link_to '削除', post_path(@post.id), method: :delete, class: "delete-btn" %></p>
  </div>
</div>
