<div class="page-title">投稿</div>
<div class="center-block">
  <%= form_for @post do |f| %>
    <%= render 'posts/error_messages', model: f.object %>
    <div class="need-new-item"><%= render 'posts/need_new_item' %>必須項目</div>
    <div class="post-new-block1">
      <div class="post-new-box1">
        <p class="post-new-title">贈り物情報</p>
        <table>
          <tr class="table-height">
            <td>あなたは？<%= render 'posts/need_new_item' %></td>
            <td colspan="2">
              <%= f.radio_button :stance_id, :presented %>
              贈り物をあげました
            </td>
            <td>
              <%= f.radio_button :stance_id, :got %>
              贈り物をもらいました
            </td>
          </tr>
          <tr class="table-height">
            <td>贈り物を受け取った人<%= render 'posts/need_new_item' %></td>
            <td>
              <%= f.radio_button :gender_id, :male %>男性
            </td>
            <td>
              <%= f.radio_button :gender_id, :female %>女性
            </td>
            <td>
              ／　年齢<%= render 'posts/need_new_item' %>
              <%= f.select :age_id, Age.all, :id, :name %>
            </td>
          </tr>
          <tr class="table-height">
            <td>ギフトシーン<%= render 'posts/need_new_item' %></td>
            <td colspan="3"><%= f.collection_select :small_scene_id, SmallScene.all, :id, :name %></td>
          </tr>
        </table>
      </div>
      <div class="post-new-box2">
        <table>
          <tr class="table-height">
            <td>商品カテゴリー<%= render 'posts/need_new_item' %></td>
            <td><%= f.collection_select :small_category_id, SmallCategory.all, :id, :name %></td>
          </tr class="table-height">
            <td>商品名<%= render 'posts/need_new_item' %></td>
            <td><%= f.text_field :item_name, class: "post-new-text-field" %></td>
          </tr>
          <tr class="table-height">
            <td class="care-item">日持ち期間</td>
            <td rowspan="2"><%= f.select :keeping_quality, Post.keeping_qualities_i18n.keys.map {|k| [Post.keeping_qualities_i18n[k], k]} %></td>
          </tr>
          <tr class="table-height-low">
            <td class="care-comment">※食品の場合は、入力お願いします。</td>
          </tr>
          <tr class="table-height">
            <td class="care-item">価格</td>
            <td rowspan="2"><%= f.text_field :item_price %>円<span class="price-tax">（税込）</span></td>
          </tr>
          <tr class="table-height-low">
            <td class="care-comment">※お分かりであれば入力お願いします。</td>
          </tr>
          <tr class="table-height">
              <td class="post-new-maker-name">メーカー・ブランド・お店の名前<%= render 'posts/need_new_item' %></td>
              <td><%= f.text_field :maker_name, class: "post-new-text-field" %></td>
            </tr>
            <tr class="table-height">
              <td>購入できる地域<%= render 'posts/need_new_item' %></td>
              <td><%= f.select :prefecture_id, Post.prefecture_ids.keys %></td>
            </tr>
            <tr class="table-height">
              <td>住所</td>
              <td><%= f.text_field :maker_address, class: "post-new-text-field" %></td>
            </tr>
            <tr class="table-height">
              <td>サイトURL</td>
              <td><%= f.text_field :url_address, class: "post-new-text-field" %></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="post-new-block2">
      <div class="post-new-rating">
        <p class="post-new-title">評価</p>
        <table>
          <tr class="post-new-rating-low">
            <td></td>
            <td>悪い</td>
            <td colspan="5"></td>
            <td>良い</td>
          </tr>
          <tr class="post-new-rating-high">
            <td class="post-new-rating-item">味または使い心地<%= render 'posts/need_new_item' %></td>
            <td></td>
            <th><%= f.radio_button :rating_feeling, 1 %>1</th>
            <th><%= f.radio_button :rating_feeling, 2 %>2</th>
            <th><%= f.radio_button :rating_feeling, 3 %>3</th>
            <th><%= f.radio_button :rating_feeling, 4 %>4</th>
            <th><%= f.radio_button :rating_feeling, 5 %>5</th>
            <td></td>
          </tr>
           <tr class="post-new-rating-high">
            <td class="post-new-rating-item">見た目<%= render 'posts/need_new_item' %></td>
            <td></td>
            <th><%= f.radio_button :rating_looks, 1 %>1</th>
            <th><%= f.radio_button :rating_looks, 2 %>2</th>
            <th><%= f.radio_button :rating_looks, 3 %>3</th>
            <th><%= f.radio_button :rating_looks, 4 %>4</th>
            <th><%= f.radio_button :rating_looks, 5 %>5</th>
            <td></td>
          </tr>
          <tr class="post-new-rating-high">
            <td class="post-new-rating-item">コストパフォーマンス<%= render 'posts/need_new_item' %></td>
            <td></td>
            <th><%= f.radio_button :rating_price, 1 %>1</th>
            <th><%= f.radio_button :rating_price, 2 %>2</th>
            <th><%= f.radio_button :rating_price, 3 %>3</th>
            <th><%= f.radio_button :rating_price, 4 %>4</th>
            <th><%= f.radio_button :rating_price, 5 %>5</th>
            <td></td>
          </tr>
          <tr class="post-new-rating-high">
            <td class="post-new-rating-item">ギフトシーンとの相性<%= render 'posts/need_new_item' %></td>
            <td></td>
            <th><%= f.radio_button :rating_matching, 1 %>1</th>
            <th><%= f.radio_button :rating_matching, 2 %>2</th>
            <th><%= f.radio_button :rating_matching, 3 %>3</th>
            <th><%= f.radio_button :rating_matching, 4 %>4</th>
            <th><%= f.radio_button :rating_matching, 5 %>5 </th>
            <td></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="post-new-block3">
      <p class="post-new-title">レビューコメント<%= render 'posts/need_new_item' %></p>
      <p><%= f.text_area :review %></p>
    </div>
    <div class="post-new-block4">
      <%= f.submit '画像の選択へ', class: "next-btn btn-layout orange-btn" %>
      <div class="post-edit-delete">
        <p><%= link_to '投稿の削除', post_path(@post.id), method: :delete, class: "delete-btn btn-layout" %></p>
      </div>
    </div>
  <% end %>
</div>




