<h3>口コミ</h3>
<div>
	<div>
		<span>キーワード検索</span>
		<span>総口コミ件数</span>
	</div>

	<div>
		<% @posts.each do |posts| %>
			<div>
				<span><%= link_to posts.user.name, user_path(posts.user_id) %></span>
				<%= link_to post_path(posts.id) do %>
					<div>
						<%= simple_time(posts.created_at) %>
						<%= posts.stance_id_i18n %>
						<%= posts.small_scene.name %>
					</div>
					<!-- 画像 -->
					<div>
						<!-- ありがとう -->
						<!-- クリップ -->
					</div>
					<div>
						<%= posts.maker_name %>
						<%= posts.item_name %>
						<%= posts.item_price %>
						<%= posts.prefecture_id %>
					</div>
				<% end %>
			</div>
		<% end %>
	</div>
</div>