<div class="page-title">口コミ</div>
<div class="center-block">
	<div>
		<!-- 絞り込み検索 -->
		<%= search_form_for @q do |f| %>
			<div>
				<%= f.label :small_scene_id_eq, 'ギフトシーン' %>
				<%= f.collection_select :small_scene_id_eq, @scenes, :id, :name, :include_blank => '指定なし' %>
	        	<%= f.label :small_category_id_eq, '商品カテゴリー' %>
				<%= f.collection_select :small_category_id_eq, @categories, :id, :name, :include_blank => '指定なし' %>
	        </div>
			<div>
				<%= f.label :gender_id_eq, '性別' %>
				<%= f.select :gender_id_eq, Post.gender_ids_i18n.keys.map {|k| [Post.gender_ids_i18n[k], Post.gender_ids[k]]}.to_h,  :include_blank => '指定なし' %>
				<%= f.label :age_id_eq, '相手の世代' %>
				<%= f.select :age_id_eq, Post.age_ids_i18n.keys.map {|k| [Post.age_ids_i18n[k], Post.age_ids[k]]}.to_h,  :include_blank => '指定なし' %>
				<%= f.label :prefecture_id_eq, '購入できる地域' %>
				<%= f.select :prefecture_id_eq, Post.prefecture_ids,  :include_blank => '指定なし' %>
				<%= f.label :keeping_quality_eq, '日持ち' %>
				<%= f.select :keeping_quality_eq, Post.keeping_qualities_i18n.keys.map {|k| [Post.keeping_qualities_i18n[k], Post.keeping_qualities[k]]}.to_h,  :include_blank => '指定なし' %>
				<%= f.submit ('絞り込み'), class: 'search-btn' %>
			</div>
        <% end %>
	</div>
	<div>
		<% if @search != nil %>
			<p>口コミ件数：<%= @search_posts.count %></p>
		<% else %>
			<p>総口コミ件数：<%= @search_posts.count %></p>
		<% end %>
	</div>

	<div>
		<% @search_posts.each do |posts| %>
			<div class="post-index-block">
				<div class="post-index post-index-box1">
					<%= attachment_image_tag posts.user, :image, :fill, 300, 300, class: "user-image-small" %>
					<%= link_to posts.user.name, user_path(posts.user_id) %>
					<div>
						<p class="post-index-stance"><%= posts.stance_id_i18n %></p>
						<p class="post-index-time"><%= simple_time(posts.created_at) %></p>
					</div>
				</div>
				<%= link_to post_path(posts.id) do %>
					<div class="post-index post-index-box2">
						<div class="post-index-scene">
							<%= posts.small_scene.name %>
							<%= posts.age_id_i18n %>
						</div>
					</div>
					<div class="post-index-box3">
						<!-- 画像 -->
						<% posts.post_images.first(1).each do |pimage| %>
							<%= attachment_image_tag pimage, :image, :fill, 300, 300, fallback: 'no_image.jpg', class: "post-index-image"  %>
						<% end %>
						<div>
							<!-- クリップ -->
							<% if user_signed_in? %>
								<% if posts.cliped_by?(current_user) %>
									<p class="post-index-icon cilped-icon">
							   			<%= link_to post_clip_path(posts,posts.clips), method: :delete do %>
							   				<%= posts.clips.count %>
				    						<i class="fas fa-paperclip"></i>
				    					<% end %>
					   				</p>
								<% else %>
									<p class="post-index-icon clip-icon">
							   			<%= link_to post_clips_path(posts), method: :post do %>
											<%= posts.clips.count %>
				    						<i class="fas fa-paperclip"></i>
				    					<% end %>
									</p>
								<% end %>
							<% else %>
								<!-- ゲストユーザー -->
								<p class="post-index-icon">
							   		<%= link_to new_user_session_path do %>
							   			<%= posts.clips.count %>
							   			<i class="fas fa-paperclip"></i>
							   		<% end %>
							   	</p>
							<% end %>
							<!-- ありがとう -->
							<% if user_signed_in? %>
								<% if posts.thanked_by?(current_user) %>
									<p class="post-index-icon thanked-icon">
							   			<%= link_to post_thank_path(posts), method: :delete do %>
							   				<%= posts.thanks.count %>
				   							<i class="far fa-grin-squint"></i>
				   						<% end %>
				   					</p>
								<% else %>
									<p class="post-index-icon thank-icon">
							   			<%= link_to post_thanks_path(posts), method: :post do %>
							   				<%= posts.thanks.count %>
							   				<i class="far fa-grin-squint"></i>
							   			<% end %>
							   		</p>
								<% end %>
							<% else %>
								<!-- ゲストユーザー -->
								<p class="post-index-icon">
							   		<%= link_to new_user_session_path do %>
							   			<%= posts.thanks.count %>
							   			<i class="far fa-grin-squint"></i>
							   		<% end %>
							   	</p>
							<% end %>
						</div>
					</div>
					<div class="post-index post-index-box5">
						<p class="post-index-maker"><%= posts.maker_name %></p>
						<p class="post-index-prefecture"><%= posts.prefecture_id %></p>
						<p class="post-index-item"><%= posts.item_name %></p>
						<p class="post-index-price">
							<%= posts.item_price %>円
							<span class="price-tax">(税込)</span>
						</p>
					</div>
					<div class="post-index post-index-box6">
						<div class="post-index-rating">
							<% total_rating = 0 %>
							<% total_rating = total_rating + posts.rating_feeling + posts.rating_looks + posts.rating_price + posts.rating_matching %>
							<p>評価合計<br>
							<%= total_rating %>点</p>
						</div>
						<div class="post-index-review">
							<%= posts.review %>
						</div>
					</div>
				<% end %>
			</div>
		<% end %>
	</div>
</div>