<h3>投稿</h3>
<div>
	<div>
		<%= form_for(@post) do |f| %>
    <div>
      <%= f.radio_button :stance_id, :presented %>贈り物をあげた
      <%= f.radio_button :stance_id, :got %>贈り物をもらった
    </div>
    <div>
    	<p>贈り物の相手</p>
    	<%= f.radio_button :gender_id, :male %>男性
      	<%= f.radio_button :gender_id, :female %>女性
      	<%= f.collection_select :small_scene_id, SmallScene.all, :id, :name %>
    </div>
    <div>
    	<%= f.attachment_field :image %>
    </div>
    <div>
    	<%= form_for(@item) do |fitem| %>
      		<%= fitem.collection_select :large_category_id, LargeCategory.all, :id, :name %>
      		<%= fitem.collection_select :small_category_id, SmallCategory.all, :id, :name %>
      		<%= fitem.text_field :name %>
      		<%= fitem.text_field :prise %>
      		<%= fitem.select :keeping_quality %>
      	<% end %>
    </div>
    <div>
    	<%= form_for(@maker) do |fmaker| %>
    		<%= fmaker.text_field :name %>
    		<%= f.select :prefecture_id, Maker.prefecture_id.keys, {prompt: '選択してください'}, class: 'form-control btn btn-info' %>
    		<%= fmaker.text_field :address %>
    		<%= fmaker.text_field :url_address %>
    	<% end %>
    </div>
    <div>
    	評価
    </div>
    <%= f.text_area :review %>
    <%= f.submit '投稿する' %>
  <% end %>
	</div>
</div>

