<!-- 口コミ詳細 -->
<div class="center-block">
	<div class="post-show-block1">
		<div class="post-show-box1">
			<!-- 画像 -->
			<%= attachment_image_tag @post.user, :image, :fill, 300, 300, class: "user-image-large image-float" %>
			<div class="post-show-user-name">
				<%= @post.user.name %>
			</div>
			<div class="post-show-created-time">
				<%= simple_time(@post.created_at) %>
			</div>
		</div>
		<div class="post-show-box2">
			<!-- ありがとう -->
			<% if @post.thanked_by?(current_user) %>
		   			<%= link_to post_thank_path(@post), method: :delete do %>
		   				<%= @post.thanks.count %> ありがとう済
		   			<% end %>
			<% else %>
		   			<%= link_to post_thanks_path(@post), method: :post do %>
		   				<%= @post.clips.count %> ありがとう
		   			<% end %>
			<% end %>
			<!-- クリップ -->
			<% if @post.cliped_by?(current_user) %>
		    		<%= link_to post_clip_path(@post), method: :delete do %>
		    			<%= @post.clips.count %> クリップを外す
		    		<% end %>
			<% else %>
		    		<%= link_to post_clips_path(@post), method: :post do %>
		    			<%= @post.clips.count %> クリップ
		    		<% end %>
			<% end %>
		</div>
		<div class="post-show-box3">
			<!-- 相手の情報 -->
			<p>ギフトシーン</p>
			<p><%= @post.small_scene.name %></p>
			<p>私は、<%= @post.stance_id_i18n %>。</p>
			<div>
				<p>贈り物を受け取った人</p>
				<p class="post-show-target"><%= @post.age_id_i18n %></p>
				<p class="post-show-target"><%= @post.gender_id_i18n %></p>
			</div>
		</div>
		<div class="post-show-box5">
			<!-- 商品情報・口コミ -->
			<p><%= @post.small_category.name %></p>
			<p><%= @post.item_name %></p>
			<p><%= @post.item_price %></p>
			<p><%= @post.keeping_quality_i18n %></p>
			<p>メーカー・ブランド・お店の情報</p>
			<p><%= @post.maker_name %></p>
			<p><%= @post.prefecture_id %></p>
			<p><%= @post.maker_address %></p>
			<p><%= @post.url_address %></p>
		</div>
		<div class="post-show-box7">
			<!-- 口コミ -->
			<p><%= @post.review %></p>
		</div>
	</div>
	<div class="post-show-block2">
		<div class="post-show-box4">
			<ul class="bxslider">
				<!-- 写真 -->
				<% @post.post_images.each do |pimage| %>
				<li>
					<% if @post.post_images.present? %>
						<%= attachment_image_tag pimage, :image, :fill, 250, 250 %>
			 		<% else %>
			    		<%= image_tag 'no_image.jpg', size: '250x250' %>
					<% end %>
				</li>
				<% end %>
			</ul>
		</div>
		<div class="post-show-box6">
			<!-- 評価 -->
			<% total_rating = 0 %>
			<div class="post-show-rating1">
				<table>
					<tr>
						<td>味または使い心地</td>
						<th class="rating-count"><%= @post.rating_feeling %></th>
						<% @post.rating_feeling.times do |i| %>
							<th>★</th>
						<% end %>
					</tr>
					<tr>
						<td>見た目</td>
						<th><%= @post.rating_looks %></th>
						<% @post.rating_looks.times do |i| %>
							<th>★</th>
						<% end %>
					</tr>
					<tr>
						<td>価格</td>
						<th><%= @post.rating_price %></th>
						<% @post.rating_price.times do |i| %>
							<th>★</th>
						<% end %>
					</tr>
					<tr>
						<td>ギフトシーンとの相性</td>
						<th><%= @post.rating_matching %></th>
						<% @post.rating_matching.times do |i| %>
							<th>★</th>
						<% end %>
					</tr>
				</table>
			</div>
			<div class="post-show-rating2">
				<% total_rating = total_rating + @post.rating_feeling + @post.rating_looks + @post.rating_price + @post.rating_matching %>
				<p class="post-show-rating-title">評価合計</p>
				<p class="post-show-rating-total"><%= total_rating %>点</p>
			</div>
		</div>
	</div>
	<div class="post-show-box8">
		<!-- クリップ・ありがとう・ -->
		<p><%= link_to '編集', edit_post_path(@post.id) %></p>
		<p><%= link_to '削除', post_path(@post.id), method: :delete %></p>
	</div>
</div>