<div class="center-block-top">
	<div class="top-right">
		<div class="top-search-block search-block-scene">
			<div class="top-search-scene">
				<p>ギフトシーンで検索</p>
			</div>
			<% @large_scenes.each do |large| %>
				<div class="block-scene">
					<p><%= large.name %></p>
				</div>
				<% large.small_scenes.each do |small| %>
					<p>・<%= link_to small.name, "/posts?utf8=%E2%9C%93&q%5Bsmall_scene_id_eq%5D=#{small.id}q%5Bsmall_category_id_eq%5D=&q%5Bgender_id_eq%5D=&q%5Bage_id_eq%5D=&q%5Bprefecture_id_eq%5D=&q%5Bkeeping_quality_eq%5D=&commit=%E7%B5%9E%E3%82%8A%E8%BE%BC%E3%81%BF" %></p>
				<% end %>
			<% end %>
		</div>
		<div class="top-search-block search-block-category">
			<div class="top-search-category">
				<p>商品カテゴリーで検索</p>
			</div>
			<% @large_categories.each do |large| %>
				<div class="block-category">
					<p><%= large.name %></p>
				</div>
				<% large.small_categories.each do |small| %>
					<p>・<%= link_to small.name, "/posts?utf8=%E2%9C%93&q%5Bsmall_scene_id_eq%5D=&q%5Bsmall_category_id_eq%5D=#{small.id}&q%5Bgender_id_eq%5D=&q%5Bage_id_eq%5D=&q%5Bprefecture_id_eq%5D=&q%5Bkeeping_quality_eq%5D=&commit=%E7%B5%9E%E3%82%8A%E8%BE%BC%E3%81%BF" %></p>
				<% end %>
			<% end %>
		</div>
	</div>
	<div class="top-center">
		<div>
			<!-- 新着口コミ -->
			<p class="top-new-posts">新着口コミ<span>（総口コミ件数：<%= @posts.page(1).total_count %>件）</span></p>
			<div>
				<% @posts.each do |post| %>
					<div class="post-index-block">
						<div class="post-index post-index-box1">
							<% if post.user.image.present? %>
								<%= attachment_image_tag post.user, :image, :fill, 300, 300, class: "user-image-small" %>
							<% else %>
								<%= image_tag '/images/user_image.png', class: "user-image-small user-no-image" %>
							<% end %>
							<%= link_to post.user.name, user_path(post.user_id) %>
							<div>
								<p class="post-index-stance">
									<i class="fas fa-gift index-gift"></i>
									<%= post.stance_id_i18n %>
								</p>
								<p class="post-index-time"><%= simple_time(post.created_at) %></p>
							</div>
						</div>
						<%= link_to post_path(post.id) do %>
							<div class="post-index post-index-box2">
								<div class="post-index-scene">
									<%= post.age_id_i18n %>
									<%= post.gender_id_i18n %>へ<br>
									<%= post.small_scene.name %>
								</div>
								<div class="post-index-category">
									<%= post.small_category.name %>
								</div>
							</div>
						<% end %>
						<div class="post-index-rating">
							<% total_rating = 0 %>
							<% total_rating = (total_rating + post.rating_feeling + post.rating_looks + post.rating_price + post.rating_matching)/4 %>
							<span>
								<% total_rating.times do |i| %>
									<i class="fas fa-star"></i>
								<% end %>
								<% remainder_star = 5 - total_rating %>
								<% remainder_star.times do |i| %>
									<i class="fas fa-star remainder-star"></i>
								<% end %>
							</span>
							<%= link_to post_path(post.id) do %>
								<span class="post-index-total-rating">
									<%= total_rating %>
								</span>
							<% end %>
						</div>
						<%= link_to post_path(post.id) do %>
							<div class="post-index-box3">
								<!-- 画像 -->
								<% post.post_images.first(1).each do |pimage| %>
									<%= attachment_image_tag pimage, :image, :fill, 300, 300, fallback: '/images/no_image.jpg', class: "post-index-image"  %>
								<% end %>
								<div>
									<!-- クリップ -->
									<% if user_signed_in? %>
										<% if post.cliped_by?(current_user) %>
											<%= link_to post_clip_path(post,post.clips), method: :delete do %>
												<p class="post-index-icon cliped-icon">
													<%= post.clips.count %>
								    				<i class="fas fa-paperclip"></i>
												</p>
											<% end %>
										<% else %>
											<%= link_to post_clips_path(post), method: :post do %>
												<p class="post-index-icon clip-icon">
													<%= post.clips.count %>
								    				<i class="fas fa-paperclip"></i>
												</p>
											<% end %>
										<% end %>
									<% else %>
										<!-- ゲストユーザー -->
										<%= link_to new_user_session_path do %>
											<p class="post-index-icon clip-icon">
									   			<%= post.clips.count %>
									   			<i class="fas fa-paperclip"></i>
										   	</p>
									   <% end %>
									<% end %>
									<!-- ありがとう -->
									<% if user_signed_in? %>
										<% if post.thanked_by?(current_user) %>
											<%= link_to post_thank_path(post,post.thanks), method: :delete do %>
												<p class="post-index-icon thanked-icon">
									   				<%= post.thanks.count %>
													<i class="far fa-grin-squint"></i>
												</p>
											<% end %>
										<% else %>
											<%= link_to post_thanks_path(post), method: :post do %>
												<p class="post-index-icon thank-icon">
									   				<%= post.thanks.count %>
									   				<i class="far fa-grin-squint"></i>
										   		</p>
										   	<% end %>
										<% end %>
									<% else %>
										<!-- ゲストユーザー -->
										<%= link_to new_user_session_path do %>
											<p class="post-index-icon thank-icon">
									   			<%= post.thanks.count %>
									   			<i class="far fa-grin-squint"></i>
										   	</p>
										<% end %>
									<% end %>
								</div>
							</div>
							<div class="post-index post-index-box5">
								<p class="post-index-maker">
									<%= link_to post_path(post.id) do %>
										<%= post.maker_name %>
									<% end %>
								</p>
								<p class="post-index-prefecture">
									<%= link_to post_path(post.id) do %>
										<%= post.prefecture_id %>
									<% end %>
								</p>
								<p class="post-index-item">
									<%= link_to post_path(post.id) do %>
										<%= post.item_name %>
									<% end %>
								</p>
								<p class="post-index-price">
									<%= link_to post_path(post.id) do %>
										<%= post.item_price %>円
										<span class="price-tax">(税込)</span>
									<% end %>
								</p>
							</div>
							<div class="post-index post-index-box6">
								<div class="post-index-review">
									<%= strip_tags(post.review).truncate(65) %>
									<% if post.review.length > 65 %>
										<%= link_to 'もっと見る', post_path(post.id), class: "post-show-small-font" %>
									<% end %>
								</div>
							</div>
						<% end %>
					</div>
				<% end %>
				<div class="paginate-block">
					<%= paginate @posts, class: "paginate" %>
				</div>
			</div>
		</div>
	</div>
</div>