<div class="center-block-top">
	<div class="top-right">
		<div class="top-search-block">
			<div class="top-search-scene">
				<div>
					<p>ギフトシーンで検索</p>
				</div>
			</div>
			<% @large_scenes.each do |large| %>
				<div class="top-search-scene">
					<div class="block">
						<p><%= large.name %></p>
					</div>
				</div>
				<% large.small_scenes.each do |small| %>
					<p>・<%= link_to small.name, "/posts?utf8=%E2%9C%93&q%5Bsmall_scene_id_eq%5D=#{small.id}q%5Bsmall_category_id_eq%5D=&q%5Bgender_id_eq%5D=&q%5Bage_id_eq%5D=&q%5Bprefecture_id_eq%5D=&q%5Bkeeping_quality_eq%5D=&commit=%E7%B5%9E%E3%82%8A%E8%BE%BC%E3%81%BF" %></p>
				<% end %>
			<% end %>
		</div>
		<div class="top-search-block">
			<div class="top-search-category">
				<div>
					<p>商品カテゴリーで検索</p>
				</div>
			</div>
			<% @large_categories.each do |large| %>
			<div class="top-search-category">
				<div class="block">
					<p><%= large.name %></p>
				</div>
			</div>
				<% large.small_categories.each do |small| %>
					<p>・<%= link_to small.name, "/posts?utf8=%E2%9C%93&q%5Bsmall_scene_id_eq%5D=&q%5Bsmall_category_id_eq%5D=#{small.id}&q%5Bgender_id_eq%5D=&q%5Bage_id_eq%5D=&q%5Bprefecture_id_eq%5D=&q%5Bkeeping_quality_eq%5D=&commit=%E7%B5%9E%E3%82%8A%E8%BE%BC%E3%81%BF" %></p>
				<% end %>
			<% end %>
		</div>
	</div>
	<div class="top-center">
		<div class="top-keyword">
			<!-- 新着口コミ -->
			<div>
				<p>総口コミ件数：<%= @posts.count %></p>
			</div>

			<div>
				<% @posts.each do |posts| %>
					<div class="post-index-block">
						<div class="post-index post-index-box1">
							<%= attachment_image_tag posts.user, :image, :fill, 300, 300, class: "user-image-small" %>
							<%= link_to posts.user.name, user_path(posts.user_id) %>
							<div>
								<p class="post-index-stance">
									<i class="fas fa-gift index-gift"></i>
									<%= posts.stance_id_i18n %>
								</p>
								<p class="post-index-time"><%= simple_time(posts.created_at) %></p>
							</div>
						</div>
						<div class="post-index post-index-box2">
							<div class="post-index-scene">
								<%= posts.age_id_i18n %>
								<%= posts.gender_id_i18n %>へ<br>
								<%= posts.small_scene.name %>
							</div>
							<div class="post-index-category">
								<%= posts.small_category.name %>
							</div>
						</div>
						<div class="post-index-rating">
							<% total_rating = 0 %>
							<% total_rating = (total_rating + posts.rating_feeling + posts.rating_looks + posts.rating_price + posts.rating_matching)/4 %>
							<span>
								<% total_rating.times do |i| %>
									<i class="fas fa-star"></i>
								<% end %>
								<% remainder_star = 5 - total_rating %>
								<% remainder_star.times do |i| %>
									<i class="fas fa-star remainder-star"></i>
								<% end %>
							</span>
							<%= link_to post_path(posts.id) do %>
								<span class="post-index-total-rating">
									<%= total_rating %>
								</span>
							<% end %>
						</div>
						<%= link_to post_path(posts.id) do %>
							<div class="post-index-box3">
								<!-- 画像 -->
								<% posts.post_images.first(1).each do |pimage| %>
									<%= attachment_image_tag pimage, :image, :fill, 300, 300, fallback: 'no_image.jpg', class: "post-index-image"  %>
								<% end %>
								<div>
									<!-- クリップ -->
									<% if user_signed_in? %>
										<% if posts.cliped_by?(current_user) %>
											<p class="post-index-icon cliped-icon">
									   			<%= link_to post_clip_path(posts,posts.clips), method: :delete do %>
									   				<%= posts.clips.count %>
						    						<i class="fas fa-paperclip"></i>
						    					<% end %>
							   				</p>
										<% else %>
											<p class="post-index-icon clip-icon">
									   			<%= link_to post_clips_path(posts), method: :post do %>
													<%= posts.clips.count %>
						    						<i class="fas fa-paperclip"></i>
						    					<% end %>
											</p>
										<% end %>
									<% else %>
										<!-- ゲストユーザー -->
										<p class="post-index-icon">
									   		<%= link_to new_user_session_path do %>
									   			<%= posts.clips.count %>
									   			<i class="fas fa-paperclip"></i>
									   		<% end %>
									   	</p>
									<% end %>
									<!-- ありがとう -->
									<% if user_signed_in? %>
										<% if posts.thanked_by?(current_user) %>
											<p class="post-index-icon thanked-icon">
									   			<%= link_to post_thank_path(posts,posts.thanks), method: :delete do %>
									   				<%= posts.thanks.count %>
						   							<i class="far fa-grin-squint"></i>
						   						<% end %>
						   					</p>
										<% else %>
											<p class="post-index-icon thank-icon">
									   			<%= link_to post_thanks_path(posts), method: :post do %>
									   				<%= posts.thanks.count %>
									   				<i class="far fa-grin-squint"></i>
									   			<% end %>
									   		</p>
										<% end %>
									<% else %>
										<!-- ゲストユーザー -->
										<p class="post-index-icon">
									   		<%= link_to new_user_session_path do %>
									   			<%= posts.thanks.count %>
									   			<i class="far fa-grin-squint"></i>
									   		<% end %>
									   	</p>
									<% end %>
								</div>
							</div>
							<div class="post-index post-index-box5">
								<p class="post-index-maker">
									<%= link_to post_path(posts.id) do %>
										<%= posts.maker_name %>
									<% end %>
								</p>
								<p class="post-index-prefecture">
									<%= link_to post_path(posts.id) do %>
										<%= posts.prefecture_id %>
									<% end %>
								</p>
								<p class="post-index-item">
									<%= link_to post_path(posts.id) do %>
										<%= posts.item_name %>
									<% end %>
								</p>
								<p class="post-index-price">
									<%= link_to post_path(posts.id) do %>
										<%= posts.item_price %>円
										<span class="price-tax">(税込)</span>
									<% end %>
								</p>
							</div>
							<div class="post-index post-index-box6">
								<div class="post-index-review">
									<%= strip_tags(posts.review).truncate(60) %>
									<% if posts.review.length > 60 %>
										<%= link_to 'もっと見る', post_path(posts.id), class: "post-show-small-font" %>
									<% end %>
								</div>
							</div>
						<% end %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>