
<div class="page-title">ギフトシーンリスト</div>

<div class="center-block">
	<div>
		<%= form_for(@large_scene) do |f| %>
			<%= f.text_field :number, size:'2×10', placeholder: 'No.' %>
			<%= f.text_field :name, placeholder: '大ギフトシーン' %><%= f.submit '追加' %>
		<% end %>

		<table>
			<% @large_scenes.each do |large| %>
				<tr>
					<th><%= large.number %></th>
					<th><%= large.name %></th>
					<td><%= link_to '編集', edit_large_scene_path(large.id) %><%= link_to '削除', large_scene_path(large.id), method: :delete %></td>
					<!-- 編集画面は、モーダルかアラート -->
					<td></td>
				</tr>
				<tr>
					<%= form_for(@small_scene) do |f| %>
					<td><%= f.hidden_field :large_scene_id, :value => large.id %></td>
					<td><%= f.text_field :number, size:'2×10', placeholder: 'No.' %></td>
					<td><%= f.text_field :name, placeholder: '小ギフトシーン' %></td>
					<td><%= f.submit '追加' %></td>
					<!-- 編集画面は、モーダルかアラート -->
					<% end %>
				</tr>
				<% large.small_scenes.each do |small| %>
					<tr>
						<td></td>
						<td><%= small.number %></td>
						<td><%= small.name %></td>
						<td><%= link_to '編集', edit_small_scene_path(small.id) %><%= link_to '削除', small_scene_path(small.id), method: :delete %></td>
					</tr>
				<% end %>
			<% end %>
		</table>
	</div>
</div>
