<div class="page-title">画像投稿</div>
<div class="center-block">
  <div class="pimage-new-box1">
    <!-- 画像投稿」 -->
    <p class="post-new-title">画像の追加</p>
    <%=  form_for [@post, @post_image] do |f| %>
      <%= render 'posts/error_messages', model: f.object %>
      <%= f.attachment_field :image %>
      <p class="care-comment">※１枚ずつ追加ボタンを押してください。</p>
      <%= f.submit '追加', class: "post-image-new-btn btn-layout orange-btn" %>
    <% end %>
  </div>
    <div class="pimage-new-box2">
      <div class="pimage-new-create-image">
        <p class="post-new-title">投稿画像</p>
        <p class="care-comment">※一覧表示時は、１枚目の画像のみ表示されます。<br>
        　魅力が伝わる画像をお選びください<i class="far fa-grin-beam"></i></p>
        <% @post.post_images.each_with_index do |pimage, i| %>
          <table>
            <% @post.id = pimage.post_id %>
              <tr>
                <th><%= "#{i+1}" %></td>
                <td>
                  <%= attachment_image_tag pimage, :image, :fill, 300, 300, class: "post-image-view" %>
                </td>
                <td>
                  <%= link_to "削除", post_post_image_path(@post,pimage.id), method: :delete, "data-confirm" => "削除してもよろしいですか？", class: "delete-btn btn-layout" %>
                </td>
              </tr>
            </table>
          <% end %>
        </div>
      </div>
    </div>
  <div class="pimage-new-box3">
    <%= link_to '投稿する', post_path(@post.id), class: "post-btn btn-layout orange-btn" %>
  </div>
</div>