<!DOCTYPE html>
<html>
  <head>
    <title>Gifton</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!--  Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body>
    <div class="header-top">
      <span class="header-top-logo">
        <%= link_to 'ロゴ', posts_top_path %>
      </span>
      <div>
        <p>
          <!-- キーワード検索 -->
          <%= search_form_for @search, url: posts_path do |f| %>
            <%= f.search_field :item_name_or_maker_name_cont, placeholder: 'キーワードで検索(商品名,お店の名前)' %>
            <%= f.submit ('検索'), class: 'search-btn' %>
          <% end %>
        </p>
      </div>
    </div>


    <div class="header-side">
      <%= link_to posts_path do %>
        <div class="header-item">
          <p>
            <i class="far fa-comments"></i>
            <span>口コミ</span>
          </p>
        </div>
      <% end %>
      <% if manager_signed_in? %>
        <div class="header-list">
          <p>一覧</p>
          <%= link_to new_large_scene_path do %>
            <div class="header-item">
              <p>
                <i class="fas fa-gifts"></i>
                <span>ギフトシーン</span>
              </p>
            </div>
          <% end %>

          <%= link_to new_large_category_path do %>
            <div class="header-item">
              <p>
                <i class="fas fa-clipboard-list"></i>
                <span>カテゴリー</span>
              </p>
            </div>
          <% end %>

          <%= link_to users_path do %>
            <div class="header-item">
              <p>
                <i class="fas fa-users"></i>
                <span>ユーザー</span>
              </p>
            </div>
          <% end %>
        </div>

        <%= link_to destroy_manager_session_path, method: :delete do %>
          <div class="header-item">
            <p>
              <i class="fas fa-sign-out-alt"></i>
              <span>ログアウト</span>
            </p>
          </div>
        <% end %>

      <% elsif user_signed_in? %>
        <div>
          <%= link_to new_post_path do %>
            <div class="header-item">
              <p>
                <i class="fas fa-comment-medical"></i>
                <span>投稿</span>
              </p>
            </div>
          <% end %>

          <%= link_to user_path(current_user.id) do %>
            <div class="header-item">
              <p>
                <i class="far fa-user"></i>
                <%= current_user.name %>さんの<br>
                マイページ
              </p>
            </div>
          <% end %>

          <%= link_to post_clips_path(current_user.id) do %>
            <div class="header-item">
              <p class="header-item-myclip">
                <i class="fas fa-paperclip"></i>
                <span>マイクリップ</span>
                <span class="myclip-count">
                  <span><%= current_user.clips.count %></span>
                </span>
              </p>
            </div>
          <% end %>

          <%= link_to destroy_user_session_path, method: :delete do %>
            <div class="header-item">
              <p>
                <i class="fas fa-sign-out-alt"></i>
                <span>ログアウト</span>
              </p>
            </div>
            <% end %>
        </div>

      <% else %>
        <div>
          <%= link_to new_user_registration_path do %>
            <div class="header-item">
              <p>
                <i class="fas fa-user-plus"></i>
                <span>新規登録</span>
              </p>
            </div>
          <% end %>

          <%= link_to new_user_session_path do %>
            <div class="header-item">
              <p>
                <i class="fas fa-sign-in-alt"></i>
                <span>ログイン</span>
              </p>
            </div>
          <% end %>

          <%= link_to users_lnquiry_path do %>
            <div class="header-item">
              <p>
                <i class="far fa-question-circle"></i>
                <span>お問い合わせ</span>
              </p>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
