<!DOCTYPE html>
<html>
  <head>
    <title>Gifton</title>
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body>
    <div class="header-top">
      <div class="header-search">
      <!-- キーワード検索 -->
        <%= search_form_for @search, url: posts_path do |f| %>
          <%= f.search_field :item_name_or_maker_name_cont, placeholder: 'キーワードで検索(商品名,お店の名前)' %>
          <%= f.submit ('検索'), class: 'search-btn' %>
        <% end %>
      </div>
      <div class="header-logo">
        <div class="header-item">
          <%= link_to 'ロゴ', posts_top_path %>
        </div>
      </div>
    </div>


    <div class="header-side">
      <% if manager_signed_in? %>
        <div>
          <div class="header-item">
            <%= link_to '口コミ',posts_path %>
          </div>
          
          <div class="header-item">
            <%= link_to 'ギフトシーン　リスト', new_large_scene_path %>
          </div>
          
          <div class="header-item">
            <%= link_to 'カテゴリー　リスト', new_large_category_path %>
          </div>

          <div class="header-item">
            <%= link_to 'ユーザー　リスト', users_path %>
          </div>

          <div class="header-item">
            <%= link_to 'ログアウト', destroy_manager_session_path, method: :delete %>
          </div>
        </div>

      <% elsif user_signed_in? %>
        <div>
          <div class="header-item">
            <%= link_to '口コミ',posts_path %>
          </div>
          
          <div class="header-item">
            <%= link_to '投稿', new_post_path %>
          </div>
          
          <div class="header-item">
            <%= link_to user_path(current_user.id) do %>
              <%= current_user.name %>さんのマイページ
            <% end %>
          </div>

          <div class="header-item">
            <%= link_to 'マイクリップ', post_clips_path(current_user.id) %>
          </div>

          <div class="header-item">
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
          </div>
        </div>

      <% else %>
        <div>
          <div class="header-item">
            <%= link_to '口コミ',posts_path %>
          </div>
          
          <div class="header-item">
            <%= link_to '新規登録', new_user_registration_path %>
          </div>
          
          <div class="header-item">
            <%= link_to 'ログイン', new_user_session_path %>
          </div>

          <div class="header-item">
            <%= link_to 'お問い合わせ', users_lnquiry_path %>
          </div>
        </div>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
